<script>
  $( function() {
      $("#tags").autocomplete({
          source: $('#tags').data('autocomplete-source'),
          select: function(event, ui) {
              event.preventDefault();
               $(this).val(ui.item.label);
              $('#course_id').val(ui.item.value);
          }
      })
  })
</script>
<br>
<div class="container">

<%= form_for @evaluation, class: "ui-widget" do |f| %>

    <%= f.text_field :course_id, id: "tags", placeholder: "lecture(professor)", data: {autocomplete_source: @courses.map{ |t| {:label => t.lecture.name + "(" + t.professor.name + ")", value: t.id}}}%> <br>
    <%= f.hidden_field :course_id, id: "course_id" %>
    <%= f.hidden_field :user_id, id: "user_id", value: current_user.id %>
    <%= f.number_field :point, placeholder:"point" %> <br>
    <%= f.text_field :content, placeholder:"content" %> <br>
                        <%= button_tag(type: "submit", class: "btn waves-effect waves-light z-depth-3") do %>
                    평가 완료하기 <i class="material-icons left">send</i>
                    <% end %> <br>

<% end %>

</div>