<style>
    .pagination {
        background-color: #ffffff;
    }
</style>
<br>
<div class="container">
    
<!--
<div class="row">
  <div class="col s6">
	<input type="text" id="tag" size="14" placeholder="찾으실 강의명을 입력하세요." >
	</div>
	<div class="col s6">
	<button type="button" id="btnEnter" class="waves-effect waves-light btn-floating yellow darken-1" onClick="search()"><i class="material-icons">search</i></button>
	</div>
</div>
-->
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="찾으실 강의명을 입력하세요." aria-label="찾으실 강의명을 입력하세요." aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" id="btnEnter" type="button" onClick="search()">검색</button>
    </div>
  </div>

			<div id="table">
			</div>
<% @courses.each do |c| %>

    <% if current_user %>
      <div id="<%= current_user.id%>_<%= c.id%>">
        <% if Favorite.exists?(course_id: c.id, user_id: current_user.id) %>
            <!--<button type="button" class="waves-effect waves-light btn-floating red" value=<%= c.id %> onClick="favorites_delete(this)"><i class="material-icons">remove</i></button>-->
            <button type="button" class="btn btn-danger" value=<%= c.id %> onClick="favorites_delete(this)">제거</button>
            <input type="hidden" id="<%= c.id%>" value=<%= current_user.id%>>
        <%else%>    
             <!--<button type="button" class="waves-effect waves-light btn-floating blue" value=<%= c.id %> onClick="favorites_add(this)"><i class="material-icons">add</i></button>-->
             <button type="button" class="btn btn-outline-primary" value=<%= c.id %> onClick="favorites_add(this)">추가</button>
            <input type="hidden" id="<%= c.id%>" value=<%= current_user.id%>>
         <% end %>
        <a href="/courses/<%= c.id %>">&nbsp;<%= c.lecture.name + "(" + c.professor.name + ")"%></a>
      </div>

    <% end %>
<br>

<% end %>

<p>
    <%= paginate @courses, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"%>
</p>
</div>
<script>
    function search(){
      send_data=document.getElementById('tag').value
      console.log(send_data)
      $.ajax({
            method: "POST",
            url: "/courses/search",
            data: {  keyword : send_data
                   
            },
            dataType : 'json'
        })
            .done(function (data) {
              console.log(data);
              console.log(data[0]);
              console.log(data.length);
               $("#table").html(" ");
               $("#table").append("</br>");
               for (var i=0;i<data.length;i+=2) {
                    $( "#table").append( "<label>" + data[i] + " : " + data[i+1]+ "</label></br>" ); }
            });
    }
</script>

<script>
    function favorites_delete(object){
      var c_id=object.value
      var u_id=document.getElementById(c_id).value
      console.log(u_id)
      console.log(c_id)
      $.ajax({
            method: "POST",
            url: "/courses/favorites_delete",
            data: {  c_id : c_id,
                     u_id : u_id
                   
            },
            dataType : 'json'
        })
            .done(function (data) {
              console.log(data);
              var name= '#' + u_id + '_' + c_id;
              console.log(name);
              $(name).html("")
              $(name).append("<button type='button' class='waves-effect waves-light btn-floating blue' value='" + c_id + "' onClick='favorites_delete(this)'><i class='material-icons'>add</i></button>" +
            "<input type='hidden' id='"+ c_id + "' value='"+ u_id+"'>");
              
    });
    }
</script>

<script>
    function favorites_add(object){
      c_id=object.value
      u_id=document.getElementById(c_id).value
      console.log(u_id)
      console.log(c_id)
      $.ajax({
            method: "POST",
            url: "/courses/favorites_add",
            data: {  c_id : c_id,
                     u_id : u_id
                   
            },
            dataType : 'json'
        })
            .done(function (data) {
                console.log(data);
                  var name= '#' + u_id + '_' + c_id;
                  console.log(name);
                  $(name).html("")
                  $(name).append("<button type='button' class='waves-effect waves-light btn-floating red' value='" + c_id + "' onClick='favorites_delete(this)'><i class='material-icons'>remove</i></button>" +
                  "<input type='hidden' id='"+ c_id + "' value='"+ u_id+"'>");
                   
    });
    }
</script>